
<div class="wrapper-skinny">
  <h2 class="text-center">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'shared/devisemsg' %>
    
    <div class="form-group">
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, placeholder: "Tells us about your podcast...", rows: 5, cols: 15, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
    </div>

    <div class="form-group">
      <i class = "fa fa-cloud-upload fa-lq"></i><%= f.label :thumbnail %><br />
      <%= f.file_field :thumbnail %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
