<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header navbar-text">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Podcast.femXX</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right navbar-text">
        
        <% if(!podcast_signed_in?) %>
          <li><%= link_to "Explore", podcasts_path %></li>
          <li><%= link_to "Sign In", new_podcast_session_path %></li>
          <li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>

        <% else %>
          <li><%= link_to "Dashboard",root_path %></li>
          <li><%= link_to "Explore", podcasts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_podcast.email %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to "Account Settings", edit_podcast_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
        
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>