<div class="jumbotron text-center">
	<h1><%= @podcast.title %> Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-12 midbar">
		<ul>
			<li><%= link_to "Episodes", root_path %></li>
			<li><%= link_to "New Episode", new_podcast_episode_path(@podcast) %></li>
			<li><%= link_to "View Podcast", podcast_path(current_podcast) %></li>
		</ul>
	</div>
</div>

<div class="row">

	<% @episodes.each do |episode| %>
		<div class="wrapper-wide show-content">
			<div class="col-md-4">
				<%= image_tag episode.thumbnail.url(:thumb), class: "show-img" %>
			</div>
			<div class="col-md-8">
				<div class="text-content">
					<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
					<p><%= episode.description[0..250] %>...</p>
					<p>
						<%= link_to "Edit", edit_podcast_episode_path(@podcast, episode) %>
						<%= link_to "Delete", podcast_episode_path(@podcast, episode), method: :delete, data: {confirm: "Are you sure?"} %>
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>