<div class="jumbotron text-center">
	<h1><%= @podcast.title %> Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-12 midbar">
		<ul>
			<li><%= link_to "Episodes", root_path %></li>
			<li><%= link_to "New Episode", new_podcast_episode_path(@podcast) %></li>
			<li><%= link_to "View Podcast", podcast_path(current_podcast) %></li>
		</ul>
	</div>

	<div class="wrapper-wide">
		<% @episodes.each do |episode| %>
			<div class="row dash-content">
				<div class="col-md-2">
					<%= image_tag episode.thumbnail.url, class: " thumbnail-small-sm dash-img" %>
				</div>
				<div class="col-md-8">
					<div class="dash-text-content">
						<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode), class: "link-text-content" %></h2>
						<p>posted <%= episode.created_at.strftime("%B %d, %Y") %></p>
						<p><%= episode.description[0..250] %>...</p>
					</div>
				</div>
				<div class="col-md-2">
					<ul>
						<li><%= link_to "Edit", edit_podcast_episode_path(@podcast, episode), class: "btn btn-success" %></li>
						<li><%= link_to "Delete", podcast_episode_path(@podcast, episode), class: "btn btn-warning", method: :delete, data: {confirm: "Are you sure?"} %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	
</div>