<div class="jumbotron text-center">
	<p><%= image_tag @podcast.thumbnail.url, class: "img-circle thumbnail-xsmall" %><p>
	<h3><%= @podcast.title %> Podcast</h3>
	<p><%= @podcast.description[0..700] %></p>
	<ul>
		<% unless @podcast.itunes.blank? %>
			<li><%= link_to "iTunes", @podcast.itunes, class: "btn btn-primary" %></li>
		<% end %>
		<% unless @podcast.stitcher.blank? %>
			<li><%= link_to "Stitcher", @podcast.stitcher, class: "btn btn-primary" %></li>
		<% end %>
		<% unless @podcast.podbay.blank? %>
			<li><%= link_to "Podbay", @podcast.podbay, class: "btn btn-primary" %></li>
		<% end %>
	</ul>
</div>

<div class="midbar">
	<%= link_to "All Podcasts", podcasts_path %> /
	<%= @podcast.title %>
</div>


	<div class="container">

		<% @episodes.each do |episode| %>
			<div class="row show-content">
				<div class="col-md-4">
					<%= image_tag episode.thumbnail.url, class: "thumbnail-small show-img" %>
				</div>
				<div class="col-md-8">
					<div class="text-content">
						<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
						<p><%= episode.description[0..250] %>...</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>


